
<%= render "shared/header"%>

<div class="record-new">

  <div class="record-left">
    <%# ------- カレンダー表示 --------- %>
    <div class="record-calendar">
      <%= month_calendar events: @in_takes do |date, in_takes| %>
        <%= date.day %>
        
        <% in_takes.each do |in_take| %>

        <%# ＿＿＿＿＿条件分岐で各ActiveHashより、対応するIdのカロリー値を表示＿＿＿＿＿ %>

          <% if "#{in_take.food_id}" =~ /^2[0-9]{1,}/ %> <%# 先頭 ^ が、n(フードカテゴリーId)から始まる、m桁の整数 %>
            <%= Main.find(in_take.food_id).cal %> <%# 主食 %>

          <% elsif "#{in_take.food_id}" =~ /^3[0-9]{1,}/ %> <%# おかず %>
            <%= Side.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^4[0-9]{1,}/ %> <%# サラダ %>
            <%= Salad.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^5[0-9]{1,}/ %> <%# 副菜・おつまみ %>
            <%= FingerFood.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^6[0-9]{1,}/ %> <%# スープ %>
            <%= Soup.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^7[0-9]{1,}/ %> <%# 飲み物 %>
            <%= Drink.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^8[0-9]{1,}/ %> <%# 果物 %>
            <%= Fruits.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^9[0-9]{1,}/ %> <%# スイーツ %>
            <%= Sweets.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^10[0-9]{1,}/ %> <%# お菓子 %>
            <%= Snack.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^11[0-9]{1,}/ %> <%# アルコール %>
            <%= Alcohol.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^12[0-9]{1,}/ %> <%# サプリメント %>
            <%= Supplement.find(in_take.food_id).cal %>
          <% end %>
          
          <%# ＿＿＿＿＿ ここまで ＿＿＿＿＿ %>
        <% end %>
      <% end %>
    </div>

    <div class="record-graph">
    <% array = [] %>
    <% @in_takes.each do |in_take| %>
      
      <% if array.length != 0 %>
        
        <% i=0 %>
        <% k=0 %>

        <% array.length.times do |i| %> 

          <%# ＿＿＿＿＿条件分岐で各ActiveHashより、対応するIdのカロリー値を表示＿＿＿＿＿ %>
          <% if array[i][:start_time] == in_take.start_time %>
            <% if "#{in_take.food_id}" =~ /^2[0-9]{1,}/ %> <%# 先頭 ^ が、n(フードカテゴリーId)から始まる、m桁の整数 %>
              <% array[i][:food_cal] = array[i][:food_cal] + Main.find(in_take.food_id).cal.to_i %> <%# 主食 %>
              <% i += 1 %>
            
            <% elsif "#{in_take.food_id}" =~ /^3[0-9]{1,}/ %> <%# おかず %>
              <% array[i][:food_cal] = array[i][:food_cal] + Side.find(in_take.food_id).cal.to_i %>
              <% i += 1 %>

            <% elsif "#{in_take.food_id}" =~ /^4[0-9]{1,}/ %> <%# サラダ %>
              <% array[i][:food_cal] = array[i][:food_cal] + Salad.find(in_take.food_id).cal.to_i %>
              <% i += 1 %>

            <% elsif "#{in_take.food_id}" =~ /^5[0-9]{1,}/ %> <%# 副菜・おつまみ %>
              <% array[i][:food_cal] = array[i][:food_cal] + FingerFood.find(in_take.food_id).cal.to_i %>
              <% i += 1 %>

            <% elsif "#{in_take.food_id}" =~ /^6[0-9]{1,}/ %> <%# スープ %>
              <% array[i][:food_cal] = array[i][:food_cal] + Soup.find(in_take.food_id).cal.to_i %>
              <% i += 1 %>

            <% elsif "#{in_take.food_id}" =~ /^7[0-9]{1,}/ %> <%# 飲み物 %>
              <% array[i][:food_cal] = array[i][:food_cal] + Drink.find(in_take.food_id).cal.to_i %>
              <% i += 1 %>

            <% elsif "#{in_take.food_id}" =~ /^8[0-9]{1,}/ %> <%# 果物 %>
              <% array[i][:food_cal] = array[i][:food_cal] + Fruits.find(in_take.food_id).cal.to_i %>
              <% i += 1 %>

            <% elsif "#{in_take.food_id}" =~ /^9[0-9]{1,}/ %> <%# スイーツ %>
              <% array[i][:food_cal] = array[i][:food_cal] + Sweets.find(in_take.food_id).cal.to_i %>
              <% i += 1 %>

            <% elsif "#{in_take.food_id}" =~ /^10[0-9]{1,}/ %> <%# お菓子 %>
              <% array[i][:food_cal] = array[i][:food_cal] + Snack.find(in_take.food_id).cal.to_i %>
              <% i += 1 %>

            <% elsif "#{in_take.food_id}" =~ /^11[0-9]{1,}/ %> <%# アルコール %>
              <% array[i][:food_cal] = array[i][:food_cal] + Alcohol.find(in_take.food_id).cal.to_i %>
              <% i += 1 %>

            <% elsif "#{in_take.food_id}" =~ /^12[0-9]{1,}/ %> <%# サプリメント %>
              <% array[i][:food_cal] = array[i][:food_cal] + Supplement.find(in_take.food_id).cal.to_i %>
              <% i += 1 %>
            <% end %>

          <% else %>
            <% i += 1 %>
            <% k += 1 %>
        
            <% if k == array.length %>
              <%# ＿＿＿＿＿条件分岐で各ActiveHashより、対応するIdのカロリー値を表示＿＿＿＿＿ %>
              <% if "#{in_take.food_id}" =~ /^2[0-9]{1,}/ %> <%# 先頭 ^ が、n(フードカテゴリーId)から始まる、m桁の整数 %>
                <% array << {food_cal: Main.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %> <%# 主食 %>

              <% elsif "#{in_take.food_id}" =~ /^3[0-9]{1,}/ %> <%# おかず %>
                <% array << {food_cal: Side.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

              <% elsif "#{in_take.food_id}" =~ /^4[0-9]{1,}/ %> <%# サラダ %>
                <% array << {food_cal: Salad.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

              <% elsif "#{in_take.food_id}" =~ /^5[0-9]{1,}/ %> <%# 副菜・おつまみ %>
                <% array << {food_cal: FingerFood.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

              <% elsif "#{in_take.food_id}" =~ /^6[0-9]{1,}/ %> <%# スープ %>
                <% array << {food_cal: Soup.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

              <% elsif "#{in_take.food_id}" =~ /^7[0-9]{1,}/ %> <%# 飲み物 %>
                <% array << {food_cal: Drink.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

              <% elsif "#{in_take.food_id}" =~ /^8[0-9]{1,}/ %> <%# 果物 %>
                <% array << {food_cal: Fruits.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

              <% elsif "#{in_take.food_id}" =~ /^9[0-9]{1,}/ %> <%# スイーツ %>
                <% array << {food_cal: Sweets.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

              <% elsif "#{in_take.food_id}" =~ /^10[0-9]{1,}/ %> <%# お菓子 %>
                <% array << {food_cal: Snack.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

              <% elsif "#{in_take.food_id}" =~ /^11[0-9]{1,}/ %> <%# アルコール %>
                <% array << {food_cal: Alcohol.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

              <% elsif "#{in_take.food_id}" =~ /^12[0-9]{1,}/ %> <%# サプリメント %>
                <% array << {food_cal: Supplement.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>
              <% end %>
            <% end %>

          <% end %>
        <% end %> 

      <% else %>
        <%# ＿＿＿＿＿条件分岐で各ActiveHashより、対応するIdのカロリー値を表示＿＿＿＿＿ %>
        <% if "#{in_take.food_id}" =~ /^2[0-9]{1,}/ %> <%# 先頭 ^ が、n(フードカテゴリーId)から始まる、m桁の整数 %>
          <% array << {food_cal: Main.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %> <%# 主食 %>

        <% elsif "#{in_take.food_id}" =~ /^3[0-9]{1,}/ %> <%# おかず %>
          <% array << {food_cal: Side.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

        <% elsif "#{in_take.food_id}" =~ /^4[0-9]{1,}/ %> <%# サラダ %>
          <% array << {food_cal: Salad.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

        <% elsif "#{in_take.food_id}" =~ /^5[0-9]{1,}/ %> <%# 副菜・おつまみ %>
          <% array << {food_cal: FingerFood.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

        <% elsif "#{in_take.food_id}" =~ /^6[0-9]{1,}/ %> <%# スープ %>
          <% array << {food_cal: Soup.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

        <% elsif "#{in_take.food_id}" =~ /^7[0-9]{1,}/ %> <%# 飲み物 %>
          <% array << {food_cal: Drink.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

        <% elsif "#{in_take.food_id}" =~ /^8[0-9]{1,}/ %> <%# 果物 %>
          <% array << {food_cal: Fruits.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

        <% elsif "#{in_take.food_id}" =~ /^9[0-9]{1,}/ %> <%# スイーツ %>
          <% array << {food_cal: Sweets.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

        <% elsif "#{in_take.food_id}" =~ /^10[0-9]{1,}/ %> <%# お菓子 %>
          <% array << {food_cal: Snack.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

        <% elsif "#{in_take.food_id}" =~ /^11[0-9]{1,}/ %> <%# アルコール %>
          <% array << {food_cal: Alcohol.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>

        <% elsif "#{in_take.food_id}" =~ /^12[0-9]{1,}/ %> <%# サプリメント %>
          <% array << {food_cal: Supplement.find(in_take.food_id).cal.to_i, start_time: in_take.start_time} %>
        <% end %>
      <% end %> <%# if array.length != 0のエンド%>
    <% end %> <%#eachのend%>

        <%= line_chart array.pluck(:start_time, :food_cal) %>
    </div>
  
  </div>

  <div class="record-right">
    <div class="record-title" >in_takes</div>

    <%# ここから登録フォーム %>
    <%= form_with model: @in_take, url: in_takes_path(current_user.id), local: true do |f| %>
    <%# ------- バリデーションエラー文 --------- %>
    <% if @in_take.errors.any? %>
      <div class="in-takes-error-alert">
        <ul>
          <% @in_take.errors.full_messages.each do |message| %>
            <li class='in-takes-error-message'><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%# ------- ここまで --------- %>

      <div class="record-form">
        <div class="record-data" >
          <%= f.datetime_select :start_time %>
        </div>
        <%#<<<< 食べた食事とカロリーを選択できる部分フォームをレンダリング >>>>%>
          <%= render "form" %>
          <div>
            <%# ****type=buttonを与えないとsubmitされてしまう**** %>
            <button type="button" id="add-form">追加する</button>
          </div>
          <%#-----追加ボタンで以下のスクリプト発火-----%>

          <%#<<<< 同じ部分フォームを追加するJavaScript 
                  Rubyのコードを使用したいためこちらに記述 >>>>%>
          <script>
            const addForm = document.getElementById("add-form");
            addForm.addEventListener("click", ()=>{
              const insertHtml = "<%= escape_javascript(render "form") %>"; //追加するhtml.erb
              const inTakesForm = document.getElementsByClassName("in-takes-form"); //投稿フォーム
              inTakesForm[inTakesForm.length - 1].insertAdjacentHTML("afterend", insertHtml);
            });
          </script>

        <%#-------合計カロリー値の表示---------%>
        <div class="record-menu">合計 <span id="sum-cal">0</span> kcal</div>
        <div class="record-input" >
          <%= f.submit "登録ボタン", id:"in-takes-submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>