
<%= render "shared/header"%>

<div class="record-new">

  <div class="record-left">
    <%# ------- カレンダー表示 --------- %>
    <div class="record-calendar">
      <%= month_calendar events: @in_takes do |date, in_takes| %>
        <%= date.day %>
        
        <% in_takes.each do |in_take| %>
        
        <%# ＿＿＿＿＿条件分岐で各ActiveHashより、対応するIdのカロリー値を表示＿＿＿＿＿ %>

          <% if "#{in_take.food_id}" =~ /^2[0-9]{1,}/ %> <%# 先頭 ^ が、n(フードカテゴリーId)から始まる、m桁の整数 %>
            <%= Main.find(in_take.food_id).cal %> <%# 主食 %>

          <% elsif "#{in_take.food_id}" =~ /^3[0-9]{1,}/ %> <%# おかず %>
            <%= Side.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^4[0-9]{1,}/ %> <%# サラダ %>
            <%= Salad.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^5[0-9]{1,}/ %> <%# 副菜・おつまみ %>
            <%= FingerFood.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^6[0-9]{1,}/ %> <%# スープ %>
            <%= Soup.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^7[0-9]{1,}/ %> <%# 飲み物 %>
            <%= Drink.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^8[0-9]{1,}/ %> <%# 果物 %>
            <%= Fruits.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^9[0-9]{1,}/ %> <%# スイーツ %>
            <%= Sweets.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^10[0-9]{1,}/ %> <%# お菓子 %>
            <%= Snack.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^11[0-9]{1,}/ %> <%# アルコール %>
            <%= Alcohol.find(in_take.food_id).cal %>

          <% elsif "#{in_take.food_id}" =~ /^12[0-9]{1,}/ %> <%# サプリメント %>
            <%= Supplement.find(in_take.food_id).cal %>
          <% end %>
          
          <%# ＿＿＿＿＿ ここまで ＿＿＿＿＿ %>

        <% end %>
      <% end %>
    </div>

    <div class="record-graph">グラフ</div>
  </div>

  <div class="record-right">
    <div class="record-title" >in_takes</div>

    <%# ここから登録フォーム %>
    <%= form_with model: @in_take, url: in_takes_path(current_user.id), local: true do |f| %>
    <%# ------- バリデーションエラー文 --------- %>
    <% if @in_take.errors.any? %>
      <div class="in-takes-error-alert">
        <ul>
          <% @in_take.errors.full_messages.each do |message| %>
            <li class='in-takes-error-message'><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%# ------- ここまで --------- %>

      <div class="record-form">
        <div class="record-data" >
          <%= f.datetime_select :start_time %>
        </div>
        <%#<<<< 食べた食事とカロリーを選択できる部分フォームをレンダリング >>>>%>
          <%= render "form" %>
          <div>
            <%# ****type=buttonを与えないとsubmitされてしまう**** %>
            <button type="button" id="add-form">追加する</button>
          </div>
          <%#-----追加ボタンで以下のスクリプト発火-----%>

          <%#<<<< 同じ部分フォームを追加するJavaScript 
                  Rubyのコードを使用したいためこちらに記述 >>>>%>
          <script>
            const addForm = document.getElementById("add-form");
            addForm.addEventListener("click", ()=>{
              const insertHtml = "<%= escape_javascript(render "form") %>"; //追加するhtml.erb
              const inTakesForm = document.getElementsByClassName("in-takes-form"); //投稿フォーム
              inTakesForm[inTakesForm.length - 1].insertAdjacentHTML("afterend", insertHtml);
            });
          </script>

        <%#-------合計カロリー値の表示---------%>
        <div class="record-menu">合計 <span id="sum-cal">0</span> kcal</div>
        <div class="record-input" >
          <%= f.submit "登録ボタン", id:"in-takes-submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>